nav .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

.image-banner {
    object-fit: cover !important;
}

.buy-button {
    text-align: center;
    margin-bottom: 10px;
    height: 50px;
}

.bbutton {
    border: 1px solid #408558;
    background: none;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    color: #408558;
    font-size: 15px;
    visibility: hidden;
}

.bbutton:hover {
    background: #408558;
    color: white;
    cursor: pointer;
    
}

.card:hover {
    box-shadow: 5px 5px 20px rgb(192, 190, 190);
    
}


#entarEmContato {
    border: 1px solid #408558;
    background: none;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    color: #408558;
    font-size: 15px;
    margin: 40px 80px 5px 80px;
}

#entarEmContato:hover {
    background: #408558;
    color: white;
    cursor: pointer;
}

#modal2 {
    display: none;
    margin: 0 auto;
    width: 500px;
    height: 580px;
    border: 1px solid rgb(201, 200, 200);
    background-color: #e1f7e8;
    border-radius: 10px;
    padding: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#modal2 input {
    margin: 5px;
    width: 300px;
    height: 30px;
    border: none;
}

textarea {
    margin: 5px;
    width: 300px;
    height: 150px;
    border: none;
}
